<!DOCTYPE html>
<html>
  <head>
    <title><%= 'Fazbook - Edit' + user.firstName + "'s Profile" %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Create a new user</h1>
    <form action="<% '/users/' + user.id + '?_method=PUT' %>" method="POST"></form>
    <div>
      <label>
        Email
          <input type="text" name="email" value="<%= user.email %>" />
      </label>
    </div>
    <div>
      <label>
        First name
          <input type="text" name="firstName" value="<%= user.firstName %>" />
      </label>
    </div>
    <div>
      <label>
        Last Name
          <input type="text" name="lastName" value="<% user.lastName %>" />
      </label>
    </div>
    <div>
      <label>
        Date of Birth
          <input type="date" name="dob" value="<%= moment(user.dob).format('YYYY-MM-DD') %>" />
      </label>
    </div>

    <a href="<%= '/users/' + user.id %>">Cancel</a>
    <input type="submit" value="Save" />
    <form action+"<%= '/users/' + user.id + '?_method=DELETE' %>" method="POST">
      <input type="submit" value="Delete user" />
    </form>
  </body>
</html>

<!-- attempted to create edit.ejs for edit functionality in fazbook. was notsuccessful. it was modeled after the new.ejs file. -->
